beautifulsoup4
bs4
certifi
chardet
cycler
idna
kiwisolver
llvmlite
lxml
matplotlib
multitasking
numba==0.47.0
numpy
pandas
pyparsing
python-dateutil
pytz
requests
six
soupsieve
tushare
urllib3
yfinance
