beautifulsoup4
bs4
certifi
chardet
cycler
futu-api
idna
kiwisolver
llvmlite
lxml
matplotlib
multitasking
numba
numpy
pandas
psutil
pyparsing
python-dateutil
pytz
requests
six
soupsieve
tushare
urllib3
yfinance
